<ion-card id="infobar">
  <ion-row>
    <ion-col>
      <ion-button size="small" *ngIf="!running" (click)="startCrowd()">Start</ion-button>
      <ion-button size="small" *ngIf="running" (click)="stopCrowd()">Stop</ion-button>
    </ion-col>
    <ion-col>
      year: {{ctrYear}}<br/>
      alive: {{ctrPopulation}}<br/>
      born: {{ctrBirths}}<br/>
      dead: {{ctrDeaths}}
    </ion-col>
    <ion-col>
      <ion-button size="small" (click)="clearCanvas()" class="ion-float-right" *ngIf="!running && !cleared">Clear</ion-button>
      <ion-button size="small" (click)="showSettings($event)" class="ion-float-right" *ngIf="!running && cleared">Settings</ion-button>
    </ion-col>
  </ion-row>
</ion-card>

<canvas id="crowdPlayground" #crowdPlayground></canvas>